@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using UrbanPalate.Models
@inject SignInManager<Users> signInManager
<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @{
                int cartCount = 0;
                if (Context.Session.Get<OrderViewModel>("OrderViewModel") != null)
                {
                    OrderViewModel model = Context.Session.Get<OrderViewModel>("OrderViewModel");
                    cartCount = model.OrderItems.Sum(product => product.Quantity);
                }
            }
            <a class="nav-link position-relative" asp-action="Cart" asp-controller="Order">
                <i>🛒</i>
                <span class="position-absolute start-100 translate-middle badge rounded-pill bg-success">
                    @cartCount
                    <span class="visually-hidden">Cart Quantity</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" asp-action="Cart" asp-controller="Order" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger rounded-pill" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-danger rounded-pill" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger rounded-pill ms-3" asp-controller="Account" asp-action="LogIn">Login</a>
        </li>
    }
    
</ul>